# ===============================
# DATASETS (DO NOT TRACK)
# ===============================
Raw_Data/
nnUNet_raw/

# ===============================
# nnU-Net generated folders
# ===============================
nnUNet_preprocessed/
nnUNet_results/

# ===============================
# Python / ML
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Models & logs
# ===============================
*.log
*.ckpt
*.pt
*.pth
