# ===============================
# DATASETS (DO NOT TRACK)
# ===============================
Raw_Data/
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/

# ===============================
# GENERATED OUTPUTS
# ===============================
Outputs/
Debug_Output/
*.nii
*.nii.gz
*.png
*.csv

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Archives
# ===============================
*.zip
